@model LightWebApp_v4.Models.Light

@{
    ViewBag.Title = "Delete";
}

<h2>Удаление проекта</h2>

<h3>Уверены, что проект необходимо удалить?</h3>
<div>
    <h4>Осветительная установка</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayName("Название")
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Name)
        </dd>

        <dt>
            @Html.DisplayName("Адрес")
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Adress)
        </dd>

        <dt>
            @Html.DisplayName("Состояние")
        </dt>

        <dd>
            @ViewBag.Stage
        </dd>

        <dt>
            @Html.DisplayName("Состав")
        </dt>

        <dd>
            @ViewBag.ProjectSet
        </dd>

        <dt>
            @Html.DisplayName("Заказчик")
        </dt>

        <dd>
            @ViewBag.Company
        </dd>

    </dl>

    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Удалить" class="btn btn-default" /> |
            @Html.ActionLink("К списку проектов", "Index")
        </div>
    }
</div>
